<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body style="margin: 25px 50px 25px 50px">
    <div style="color: red" th:if="${user == null}" th:text="'User not found'"></div>
    <div th:if="${user != null}">
        <div>User Info</div>
        <br><br>
        <div th:text="'Name: '+${user.getName()}"></div>
        <div th:text="'Age: '+${user.getAge()}"></div>
        <div th:text="'Email: '+${user.getEmail()}"></div>
        <br><br>
        <form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
            <input type="submit" value="Edit User">
        </form>
        <br><br>
        <form th:method="DELETE" th:action="@{/{id}/(id=${user.getId()})}">
            <input type="submit" value="Delete User">
        </form>
    </div>
    <br><br>
    <a href="/">Back to users...</a>
</body>
</html>